body {
    font-family: "Afacad Flux", sans-serif;
    margin: 40px;
    transition: background-color 0.3s, color 0.3s;
}

h1 {
    color: #333;
}

input {
    margin: 10px 0;
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    transition: color 0.3s;
}

.dark-theme .result {
    color: #e0e0e0;
}

/* Light Theme */
.light-theme {
    background-color: #f4f4f4;
    color: #333333;
}

.light-theme button {
    background-color: #28a745;
}

.light-theme button:hover {
    background-color: #218838;
}

.light-theme h1 {
    color: #333333;
}

/* Dark Theme */
.dark-theme {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-theme button {
    background-color: #28a745;
}

.dark-theme button:hover {
    background-color: #218838;
}

.dark-theme h1 {
    color: #e0e0e0;
}

/* Sunset Orange Theme */
.sunset-orange {
    background-color: #fffaeb;
    color: #130e01;
}

.sunset-orange button {
    background-color: #ff8400;
}

.sunset-orange button:hover {
    background-color: #cf4307;
}

.sunset-orange h1 {
    color: #130e01;
}

/* Blueberry Yogurt Theme */
.blueberry-yogurt {
    background-color: #f6f7f9;
    color: #0e1116;
}

.blueberry-yogurt button {
    background-color: #c3acc8;
}

.blueberry-yogurt button:hover {
    background-color: #b48ea9;
}

.blueberry-yogurt h1 {
    color: #0e1116;
}

.icon-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

.icon-toggle:hover {
    background-color: #555;
}
